.containers {
  display: flex;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(84, 92, 83);
}

.logo {
  font-size: 2rem;
  margin-left: 1.5rem;
}

.hamburger {
  margin-right: 2rem;
  display: block;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #ffffff;
}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.guest{
  margin-right: 1rem;
}


.contentNav .user{
  position: fixed;
  left: -100%;
  top: 5rem;
  background-color: rgba(27, 27, 25, 0.9);
  width: 100%;
  border-radius: 2px;
  text-align: center;
  transition: 0.3s;
  box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
}

.contentNav.active .user{
  left: 0;
  z-index: 1;

}

.user {
  flex-direction: column;
}

.guest{
  display: block;
}
.nav-link {
  font-size: 1.5rem;
  margin-bottom: 2.6rem;
}

.nav-link:first-child {
  margin-top: 2.6rem;
}

.nav-link:hover:not(.nav-btn) {
  text-decoration: underline;
  transform: scale(1.25);
}

.nav-link:hover {
  color: rgb(250, 250, 250);
  transform: scale(1.05);
}

@media only screen and (min-width: 768px) {
  a {
    color: #fff;
  }
  nav {
    display: flex;
  }
  .logo {
    width: 35%
  }
  .contentNav .user {
    align-content: center;
    justify-content: flex-end;
    background-color: transparent;
    box-shadow: none;
    flex-direction: row;
    left: 0%;
    top: 0;
  }

  .contentNav .user{
    margin: 0;
  }
  .hamburger {
    display: none;
  }
  .user {
    flex-direction: row;
  }
  .nav-link:first-child {
    margin: 0;
    margin-right: 2rem;
  }
  .nav-link {
    margin-right: 2rem;
  }
}

/* card for choises */

.cards {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

.card-container {
  margin: 2%;
  display: flex;
  flex-flow: column;
  padding: 35px;
}

.card:hover {
  transform: scale(1.25);
}

.card-container h1 {
  margin: auto;
}

.card {
  background: #4CAF50;
  border-radius: 3px;
  max-width: 460px;
  background-color: #FFFFFF;
  width: 320px;
  margin: 45px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  padding: 12px;
  transition: all .2s ease-in-out;
}

.card h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px auto;
  color: #2c2e2c;
  opacity: 85%;
}

p {
  text-align: center;
  margin-top: 15px;
}

.card a {
  margin: 5px auto;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-content {
  padding: 25px;
  margin-left: 25%;
}

.card-content h3 {
  margin-top: 10px;
}

.fa-drumstick-bite, .fa-carrot {
  color: rgb(70, 70, 70)
}