.menu-content{
    display: flex;
    width: 100%;
    flex-direction: column;
    margin: auto;
    align-items: center;
}

.menu{
    display: flex;
    text-align: center;
    justify-content: space-around;
    width: 100%;
}

.starter, .meal {
    min-height: 100%;
    width: 45%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.meal h2:first-of-type {
    margin-left: 20px;
    flex-basis: 1;
}

.starter h2, .meal h2 {
    align-self: stretch;
    margin: 10px 0;
    
}

.card-table {
    flex-wrap: wrap;
}

.food-card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 7px;
    padding: 10px;
    margin: 10px;
    background: cornsilk;
    box-shadow: 14px 11px 9px -1px rgba(0, 0, 0, 0.17);
    -webkit-box-shadow: 14px 11px 9px -1px rgba(0, 0, 0, 0.17);
    -moz-box-shadow: 14px 11px 9px -1px rgba(0, 0, 0, 0.17);
}

.food-card h3:hover {
    color: #43A047;
    transform: scale(1.05);
    cursor: pointer;
}

.food-card img {
    width: 70%;
    height: 50%;
    align-self: center;
}

li {
    display: inline;
    text-align: center;
    background-color: rgb(253, 253, 253);
    color: #24252A;
    max-height: 100px;
    max-width: 120px;
    margin-left: 14px;
    padding: 12px;
    list-style-type: none;
    -webkit-box-shadow: 15px 11px 24px -4px rgba(0, 0, 0, 0.34);
    box-shadow: 15px 11px 24px -4px rgba(0, 0, 0, 0.34);
}

.fa-check {
    color: rgb(222, 224, 219);
    margin-right: 10px;
    transition: all .2s ease-in-out;
}

.fa-check:hover {
    color: rgb(107, 173, 7);
    transform: scale(1.25);
}

.menu h1 {
    margin: auto;
    padding: 25px;
}


@media only screen and (min-width: 768px) {
    .menu{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .dish-container{
        display: flex;
        flex-wrap: wrap;
    }
    .starter, .meal{
        align-items: center;
        width: 100%;
    }
}